@model IEnumerable<Library.Models.BooksViewModels.BooksViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Authors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableCount)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @foreach (var author in item.Authors)
            {
                <span>@author.Name @author.Surname</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableCount)
        </td>
        <td>
            @if (item.AvailableCount > 0)
            {
                <form method="post">
                    <input type="submit" asp-controller="Books" asp-action="Borrow" asp-route-id="@item.Book.Id" value="Borrow" class="btn btn-default" />
                </form>
            }

            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}
    </tbody>
</table>
